{% extends "base.html" %}
{% load static %}

{% block title %}PWRK - Wszystkie zgłoszenia{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "PWRKapp/all_entries.css" %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock css_files %}

{% block content %}
<section class="content">
    <!-- Formularz filtrujący -->
    <div class="filter-form">
        <form method="GET">
            <input type="text" name="name" placeholder="Filtruj po nazwie" value="{{ name_filter }}">
            <input type="date" name="created_after" value="{{ created_after }}">
            <button type="submit" class="btn">Filtruj</button>
        </form>
    </div>

    <!-- Tabela z nagłówkami -->
    <div class="item-list-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th style="width: 80px;">ID</th>
                    <th style="width: 280px;">Status</th>
                    <th style="width: 190px;">Numer PWRK</th>
                    <th>Opis komponentu 1</th>
                    <th style="width: 200px;">Data zgłoszenia</th>
                    <th style="width: 200px;">Zgłaszający</th>
                    {% comment %} <th>Obsługujący</th> 
                    <th>Data zmiany statusu</th>  {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                    <tr class="item-row {% if item.status|slice:"4" == "ZAKO" %}entry-finished{% endif %}" id="item-{{ item.pk }}" 
                    data-id="{{ item.pk }}"
                    data-description_1="{{ item.description_1 }}"
                    data-status="{{ item.status }}"
                    data-type_of_employee="{{ item.type_of_employee }}"
                    data-type_of_tool="{{ item.type_of_tool }}"
                    data-reason="{{ item.reason }}"
                    data-producer="{{ item.producer }}"
                    data-supplier="{{ item.supplier }}"
                    data-manage_employee="{{ item.manage_employee|default_if_none:"" }}"
                    data-drawings_2d="{{ item.drawings_2d }}"
                    data-drawings_3d="{{ item.drawings_3d }}"
                    data-screen_catalog="{{ item.screen_catalog }}"
                    data-comments="{{ item.comments }}"
                    data-entry_date="{{ item.entry_date|date:"Y-m-d H:i:s" }}"
                    data-change_date="{{ item.change_date|date:"Y-m-d H:i:s" }}">

                        <td>{{ item.pk }}</td>
                        <td>{{ item.status }}</td>
                        <td>{% if item.PWRK %}
                            {{item.PWRK}}  
                            <button class="copy-btn" onclick="copyToClipboard('{{ item.PWRK }}', {{ item.pk }}, event)" title="Kopiuj">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                            <span class="copy-notification" id="notification-{{ item.pk }}">Skopiowano</span>
                            {% endif %}
                        </td>
                        <td title="{{ item.description_1 }}">
                            {{ item.description_1 }}
                            <div class="copy-button-div"><button class="copy-btn" onclick="copyToClipboard('{{ item.description_1 }}', {{ item.pk }}, event)" title="Kopiuj">
                                <i class="fa-solid fa-copy"></i>
                            </button></div>
                            
                        </td>
                        <td>{{ item.entry_date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.entry_employee|default_if_none:"" }}</td>
                        {% comment %} <td>{{ item.manage_employee|default_if_none:"" }}</td>
                        <td>{{ item.change_date|date:"Y-m-d" }}</td> {% endcomment %}

                        {% comment %} <td>
                            <button class="btn" onclick="alert('Edytujesz: {{ item.name }}')">Edytuj</button>
                            <button class="btn" onclick="alert('Usuwasz: {{ item.name }}')">Usuń</button>
                        </td>  {% endcomment %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <span class="copy-notification" id="notification-copyied">Skopiowano</span>
    <!-- Nawigacja do stron -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&name={{ name_filter }}&created_after={{ created_after }}" class="page-link first-page-link">pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}&name={{ name_filter }}&created_after={{ created_after }}" class="page-link previous-page-link">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&name={{ name_filter }}&created_after={{ created_after }}" class="page-link next-page-link">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&name={{ name_filter }}&created_after={{ created_after }}" class="page-link last-page-link">ostatnia</a>
            {% endif %}
        </span>
    </div>
</section>

<!-- Okienko z danymi dla pracownika bez uparwnien admina -->
<div id="data-popup" class="data-popup">
    
    <div id="popup-header"><span>Szczegóły zgłoszenia</span>
        <button class="popup-close" id="popup-close"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="popup-content">
        <table class="popup-table">
            <tr>
                <td>ID:</td>
                <td id="popup-id"></td>
            </tr>

            <tr>
                <td>Opis komponentu 1:</td>
                <td id="popup-description_1"></td>
            </tr>

            <tr>
                <td>Status:</td>
                <td id="popup-status"></td>
            </tr>

            <tr>
                <td>Osoba zgłaszająca:</td>
                <td id="popup-type_of_employee"></td>
            </tr>

            <tr>
                <td>Rodzaj narzędzia:</td>
                <td id="popup-type_of_tool"></td>
            </tr>
            <tr>
                <td>Powód zgłoszenia:</td>
                <td id="popup-reason"></td>
            </tr>
            <tr>
                <td>Producent:</td>
                <td id="popup-producer"></td>
            </tr>
            <tr>
                <td>Dostawca:</td>
                <td id="popup-supplier"></td>
            </tr>
            <tr>
                <td>Rysunek 2D:</td>
                <td >
                    <a id="popup-drawings_2d" download>Brak pliku</a>
                </td>
            </tr>
            <tr>
                <td>Rysunek 3D:</td>
                <td >
                    <a id="popup-drawings_3d" download>Brak pliku</a>
                </td>
            </tr>
            <tr>
                <td>Screen z katalogu:</td>
                <td>
                    <a id="popup-screen_catalog" download>Brak pliku</a>
                </td>
            </tr>
            <tr>
                <td>Data zgłoszenia:</td>
                <td id="popup-entry_date"></td>
            </tr>
            <tr>
                <td>Data zmiany statusu:</td>
                <td id="popup-change_date"></td>
            </tr>
            <tr>
                <td>Obsługujący zgłoszenie:</td>
                <td id="popup-manage_employee"></td>
            </tr>
            
        </table>

        <div class="popup-comments-container">
            <p class="popup-comments-label">Komentarz:</p>
            <div id="popup-comments-div">
                <p id="popup-comments"></p>
            </div>
        </div>  
    </div>
   
</div>





{% endblock content %}




{% block script %}
<script>
    
function ifNoneReturnEmpty(str){
    if (str != "None"){
        return(str);
    }
    else{
        return "";
    }
}



// Funkcja do kopiowania danych do schowka
function copyToClipboard(text, itemId, event) {
    // Tworzymy tymczasowy element input
    var tempInput = document.createElement('input');
    document.body.appendChild(tempInput);
    tempInput.value = text;
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);

    // Wyświetlenie powiadomienia "Skopiowano" w formie popupu
    var notification = document.getElementById('notification-copyied');

    // Obliczenie pozycji popupu kopiowania względem kliknięcia
    var posX = event.clientX;  // Używamy clientX i dodajemy przewinięcie
    var posY = event.clientY;  // Używamy clientY i dodajemy przewinięcie

    // Ustawiamy pozycję popupu w miejscu kliknięcia
    notification.style.left = posX + 55 + 'px';
    notification.style.top = posY-55 + 'px';

    notification.style.display = 'block';  // Pokaż powiadomienie

    // Ukrycie powiadomienia po 2 sekundach
    setTimeout(function() {
        notification.style.display = 'none';
        console.log('xdd');
    }, 900);

    // Zatrzymanie propagacji zdarzenia, aby nie otworzyć popupu ze szczegółami
    event.stopPropagation();
}


// Funkcja do wyświetlania okienka z danymi w miejscu kliknięcia
document.querySelectorAll('.item-row').forEach(function(row) {
    row.addEventListener('click', function(event) {
        // Zatrzymujemy propagację kliknięcia na wiersz, jeśli kliknięto ikonę kopiowania
        if (event.target.classList.contains('copy-btn')) {
            return; // Zatrzymujemy propagację
        }
        
        // Pobieramy dane z atrybutów wiersza
        var id = this.getAttribute('data-id');
        var description_1 = this.getAttribute('data-description_1');
        var status = this.getAttribute('data-status');
        var type_of_employee = this.getAttribute('data-type_of_employee');
        var type_of_tool = this.getAttribute('data-type_of_tool');
        var reason = this.getAttribute('data-reason');
        var producer = this.getAttribute('data-producer');
        var supplier = this.getAttribute('data-supplier');
        var manage_employee = this.getAttribute('data-manage_employee');
        var drawings_2d = this.getAttribute('data-drawings_2d');
        var drawings_3d = this.getAttribute('data-drawings_3d');
        var screen_catalog = this.getAttribute('data-screen_catalog');
        var comments = this.getAttribute('data-comments');
        var change_date = this.getAttribute('data-change_date');
        var entry_date = this.getAttribute('data-entry_date');

        // Ustawiamy dane w okienku
        
 
        
        document.getElementById('popup-id').textContent = id;
        document.getElementById('popup-description_1').textContent = description_1;
        document.getElementById('popup-description_1').title = description_1;
        document.getElementById('popup-status').textContent = status;
        document.getElementById('popup-type_of_employee').textContent = type_of_employee;
        document.getElementById('popup-type_of_tool').textContent = type_of_tool;
        document.getElementById('popup-reason').textContent = reason;
        document.getElementById('popup-producer').textContent = producer;
        document.getElementById('popup-supplier').textContent = supplier;
        document.getElementById('popup-manage_employee').textContent = manage_employee;
        document.getElementById('popup-comments').textContent = ifNoneReturnEmpty(comments);
        document.getElementById('popup-change_date').textContent = change_date;
        document.getElementById('popup-entry_date').textContent = entry_date;

        if (drawings_2d){
            document.getElementById('popup-drawings_2d').href = "download/drawings_2d/"+id;
            document.getElementById('popup-drawings_2d').textContent = "Pobierz";
        }
        else{
            document.getElementById('popup-drawings_2d').removeAttribute("href");
            document.getElementById('popup-drawings_2d').textContent = "Brak pliku";
        }

        if (drawings_3d){
            document.getElementById('popup-drawings_3d').href = "download/drawings_3d/"+id;
            document.getElementById('popup-drawings_3d').textContent = "Pobierz";
        }
        else{
            document.getElementById('popup-drawings_3d').removeAttribute("href");
            document.getElementById('popup-drawings_3d').textContent = "Brak pliku";
        }

        if (screen_catalog){
            document.getElementById('popup-screen_catalog').href = "download/screen_catalog/"+id;
            document.getElementById('popup-screen_catalog').textContent = "Pobierz";
        }
        else{
            document.getElementById('popup-screen_catalog').removeAttribute("href");
            document.getElementById('popup-screen_catalog').textContent = "Brak pliku";
        }
        
        
        
        // Wyświetlamy okienko w miejscu kliknięcia
        var popup = document.getElementById('data-popup');

        // Obliczamy pozycję popupu względem kliknięcia
        var posX = event.clientX + window.scrollX;  // Uwzględniamy przewinięcie strony
        var posY = event.clientY + window.scrollY;  // Uwzględniamy przewinięcie strony

        // Sprawdzamy, czy popup nie wychodzi poza ekran
        popup.style.display = 'block';  // Pokazujemy popup
        var popupWidth = popup.offsetWidth;
        var popupHeight = popup.offsetHeight;
        
        if (posX + popupWidth > window.innerWidth) {
            posX = window.innerWidth - popupWidth - 30;
        }
        
        if (posY + popupHeight > window.innerHeight) {
            posY = window.innerHeight - popupHeight - 30;
        }

        //nadpisuje te 2 linijki, zeby popup pojawil sie na srodku ekranu
        //popup.style.top = posY+30 + 'px';
        //popup.style.left = posX + 'px';
        popup.style.top = (window.innerHeight - popupHeight)/2 + "px";
        popup.style.left = (window.innerWidth - popupWidth)/2 + "px";
        
        // Zatrzymujemy propagację, aby zapobiec wywołaniu innych zdarzeń kliknięcia
        event.stopPropagation();
    });
});




// Zamknięcie popupu ze szczegółami
document.getElementById('popup-close').addEventListener('click', function() {
    document.getElementById('data-popup').style.display = 'none';
});


// Funkcja do zamknięcia okienka, gdy klikniemy poza nim
document.addEventListener('click', function(event) {
    var popup = document.getElementById('data-popup');
    if (!popup.contains(event.target) && !event.target.closest('.item-row')) {
        popup.style.display = 'none';  // Ukrywamy okienko, jeśli kliknięto poza nim
    }
});; 

const filterForm = document.querySelector('.filter-form form');
filterForm.addEventListener('submit', function(event) {
    event.preventDefault();
    
    const formData = new FormData(filterForm);
    const queryString = new URLSearchParams(formData).toString();

    fetch(`/all-entries?${queryString}`)
        .then(response => response.text())
        .then(data => {
            document.querySelector('*').innerHTML = data;
        });
});


// Funkcje do przeciągania popupu (tylko przez nagłówek)
let isDragging = false;  // Flaga, która będzie mówić, czy przeciąganie jest włączone
let offsetX, offsetY;    // Przechowujemy różnicę w pozycjach

const popup = document.getElementById('data-popup');
const popupHeader = document.getElementById('popup-header'); // Nagłówek, który obsługuje przeciąganie

// Funkcja rozpoczynająca przeciąganie
popupHeader.addEventListener('mousedown', function(event) {
    isDragging = true;
    offsetX = event.clientX - popup.offsetLeft;  // Obliczamy różnicę w pozycjach
    offsetY = event.clientY - popup.offsetTop;

    // Dodajemy klasę, która może zmieniać wygląd podczas przeciągania
    popup.style.cursor = 'move';  
});

// Funkcja do przeciągania
document.addEventListener('mousemove', function(event) {
    if (isDragging) {
        let posX = event.clientX - offsetX;  // Nowa pozycja X
        let posY = event.clientY - offsetY;  // Nowa pozycja Y

        // Uwzględniamy przewinięcie strony
        const scrollX = window.scrollX;
        const scrollY = window.scrollY;

        // Sprawdzamy, czy popup nie wychodzi poza ekran
        let popupWidth = popup.offsetWidth;
        let popupHeight = popup.offsetHeight;

        // Lewa krawędź
        if (posX + popupWidth > window.innerWidth + scrollX) {
            posX = window.innerWidth + scrollX - popupWidth - 10;
        }

        // Prawa krawędź
        if (posX < scrollX) {
            posX = scrollX + 10;  // Przesuwamy w prawo, jeśli popup wykracza poza lewą krawędź
        }

        // Górna krawędź
        if (posY < scrollY) {
            posY = scrollY + 10;  // Przesuwamy w dół, jeśli popup wykracza poza górną krawędź
        }

        // Dolna krawędź
        if (posY + popupHeight > window.innerHeight + scrollY) {
            posY = window.innerHeight + scrollY - popupHeight - 10;
        }

        // Przesuwamy popup
        popup.style.left = posX + 'px';
        popup.style.top = posY + 'px';
    }
});

// Funkcja kończąca przeciąganie
document.addEventListener('mouseup', function() {
    isDragging = false;
    popup.style.cursor = 'default';  // Przywracamy kursor do normalnego stanu
});
</script>
{% endblock script %}


