{% extends "base.html" %}
{% load static %}

{% block title %}PWRK - Nowe zgłoszenie{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "PWRKapp/new_entry.css" %}">
{% endblock css_files %}

{% block content %}



<section id="new-entry-form">
    

    <form action="{% url "new-entry" %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div id="new-entry-flex">
            <div class="new-entry-column" id="new-entry-column-1">
                <div class="form-control"> 
                    {{entry_form.description_1.label_tag}}
                    {{entry_form.description_1}}
                </div>
                <div class="form-control-inline">
                    <div class="form-control {% if entry_form.type_of_employee.value == "Technolog"%}techno{% endif %}" id="type-of-employee-div"> 
                        {{entry_form.type_of_employee.label_tag}}
                        {{entry_form.type_of_employee}}
                    </div>
                    <div class="form-control {% if entry_form.type_of_employee.value == "Technolog"%}techno{% endif %}" id="type-of-tool-div"> 
                        {{entry_form.type_of_tool.label_tag}}
                        {{entry_form.type_of_tool}}
                    </div>
                </div>
                <div class="form-control"> 
                    {{entry_form.reason.label_tag}}
                    {{entry_form.reason}}
                </div>
                <div class="form-control"> 
                    {{entry_form.producer.label_tag}}
                    {{entry_form.producer}}
                </div>
                <div class="form-control"> 
                    {{entry_form.supplier.label_tag}}
                    {{entry_form.supplier}}
                </div>
            </div>

            <div class="new-entry-column {% if entry_form.type_of_employee.value == "Technolog"%}techno{% endif %}" id="new-entry-column-2">
                <div class="form-control"> 
                    {{entry_form.comments.label_tag}}
                    {{entry_form.comments}}
                </div>
                <div class="form-control"> 
                    {{entry_form.drawings_2d.label_tag}}
                    {{entry_form.drawings_2d}}
                </div>
                <div class="form-control"> 
                    {{entry_form.drawings_3d.label_tag}}
                    {{entry_form.drawings_3d}}
                </div>
                <div class="form-control"> 
                    {{entry_form.screen_catalog.label_tag}}
                    {{entry_form.screen_catalog}}
                </div>
            </div>
        </div>

        
        <p id="required-legend"><span>*</span> - pole wymagane</p>

        {% if messages %}
            <p class="success-msg">{% for msg in messages %}{{msg}}{% endfor %}</p>
        {% endif %}
        
        <button id="submit-button">Wyślij</button>
    </form>
    {{entry_form.errors}}
</section>
{% endblock content %}




{% block script %}




<script>
    var mylist = {{comp_list|safe}};
    


    function checkIfTechno(){
        const typeOfEmpBtn=document.querySelector('.type-of-employee');
        const technoButton = document.querySelector("input[id=id_type_of_employee_1]:checked");
        const columnForm2 = document.getElementById("new-entry-column-2");
        const typeOfToolDiv = document.getElementById("type-of-tool-div");
        const typeOfEmployeeDiv = document.getElementById("type-of-employee-div");
        const typeOfEmployeeRadio = document.querySelectorAll("input.type-of-tool")

        typeOfEmpBtn.addEventListener("click", () => {
        if (document.querySelector("input[id=id_type_of_employee_1]:checked")){
            columnForm2.classList.add("techno");
            typeOfToolDiv.classList.add("techno");
            typeOfEmployeeDiv.classList.add("techno");

            for (const element of typeOfEmployeeRadio) {
                element.setAttribute("required", "")
            }
        }
        else{
            columnForm2.classList.remove("techno");
            typeOfToolDiv.classList.remove("techno");
            typeOfEmployeeDiv.classList.remove("techno");
            for (const element of typeOfEmployeeRadio) {
                element.removeAttribute("required")
            }  
        }
    });
    }


    function checkIfSuccess() {
        const successBox = document.querySelector(".success-msg");
        if (successBox){
                setTimeout(function() {
                    successBox.classList.add("opacity-0");
                }, 1500);

                setTimeout(function() {
                    successBox.classList.add("hidden");
                }, 2000);

            
            }
    }

    checkIfTechno();
    checkIfSuccess();
</script>

{% endblock script %}


