.item-list-container {
    /* max-height: 600px; */
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #1d1d1d;
    margin: 20px;
    border-collapse: collapse;
}

.data-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #f1f1f1;
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #1d1d1d;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-table td {
    /* display: flex; */
    border-bottom: none;
}

.data-table th {
    background-color: #8cbfd4;
    border-top: none;
    position: sticky;
    top: 0;
}

tr {
    background-color: #f1f1f1;
    transition: ease, 300ms;
}

tr:nth-of-type(even) {
    background-color: #d4d4d4;
}



.item-row:hover {
    background-color: #adb8bd;
    cursor: pointer;

}

.entry-finished {
    background-color: #aed1a1;
}

.entry-finished:nth-of-type(even) {
    background-color: #9bb68f;
}

.entry-finished:hover {
    background-color: #a1df8a;
}

.entry-finished:nth-of-type(even):hover {
    background-color: #a1df8a;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.copy-btn {
    background-color: #64a5da;
    color: #dfdddd;
    cursor: pointer;
    padding: 3px 8px;
    margin-left: 3px;
    border: none;
    transition: easy, 100ms;
}

.copy-btn:hover {
    background-color: #4896d6;
    color: #ececec;
    scale: 1.2;
}




.highlight {
    background-color: #ffeb3b;
}

/* Form for filtering */
.filter-form {
    margin-bottom: 20px;
    margin: auto;
}

.filter-form input {
    margin-right: 10px;
    padding: 5px;
}

.pagination {
    /* float: right; */
    position: relative;
    text-align: right;
    /* width: 100px; */
    right: 0;
    margin-right: 20px;
}



/* Okienko z danymi */
.data-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #313131;
    border-top: none;
    /* padding: 15px; */
    box-shadow: 6px 6px 10px #1b1b1b;
    border-radius: 25px;
    width: 800px;
    /* height: fit-content; */
    max-width: 1000px;
    display: none;
    top: 100px !important;
    left: 30rem !important;
    /* max-height: 100%; */
    /* height: 100%; */
    /* top: 0; */
    /* overflow-y: auto; */

    /* Ukryte na początku */
    z-index: 1000;
    /* max-width: 500px; */
}



.data-popup-edit {
    position: relative;
    /* max-height: 100%; */
    /* margin-left: 30rem; */
    left: 0 !important;
    height: 100%;
    width: 100%;
    max-width: none;
    top: 10px !important;
    box-shadow: 1px 1px 4px #1b1b1b;

    /* padding: 20px; */
    /* top: 0; */
    /* overflow-y: auto; */

    /* Ukryte na początku */
    z-index: 1000;
    /* max-width: 500px; */
}


#popup-header {
    /* display: inline-block; */
    position: relative;
    background-color: #64a5da;
    font-weight: bold;
    font-weight: 1.2rem;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    /* cursor: move; */
    border-radius: 20px 20px 0 0;
}

.data-popup-edit #popup-header {
    background-color: #bebebe;
}

#popup-header-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.data-popup .popup-content {
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 90%;
}

.data-popup-edit .popup-content {
    overflow-y: hidden;
}

.data-popup .popup-close {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(0, -50%); */
    background-color: #4294d6;
    color: white;
    border: none;
    /* width: 50px; */
    aspect-ratio: 1 / 1;
    height: 100%;
    cursor: pointer;
    border-radius: 0 19px 0 0;
}

.data-popup .popup-close:hover {
    background-color: #3a7db4;
    cursor: pointer;
}

.popup-content {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    width: 100%;
}

.popup-table {

    height: 100%;
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* max-width: 500px; */
    background-color: #f1f1f1;


}

.popup-table td {
    border: 1px solid #0f0f0f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    /* height: 5px; */
    padding: 10px;
}

.popup-table td[id] {
    user-select: text;
    cursor: text;
}



.popup-table td:not([id]) {
    text-align: right;
    font-weight: bold;
    width: 250px;
}


.popup-table a,
.form-control a {
    margin: 0;
    display: block;
    margin: auto;
    width: fit-content;
    text-decoration: none;
    color: #bbbbbb;
    background-color: #616161;
    padding: 7px 10px;
    border-radius: 10px;
}

.popup-table a[href],
.form-control a[href] {
    color: #ffffff;
    background-color: #3f7941;
    transition: ease, 200ms;
}

.popup-table a[href]:hover,
.form-control a[href]:hover {
    scale: 1.05;
    background-color: #619c63;
}

.form-control a {
    margin-left: 10px;
    margin-top: 10px;
}

.popup-comments-container {
    display: inline-block;
    height: fit-content;
    max-height: 200px;
    /* width: 100px; */
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 10px; */
    margin-top: 20px;
}

#popup-comments-div {
    /* box-sizing: border-box; */
    width: 100%;
    height: fit-content;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    /* padding: 10px; */
    /* margin: 20px; */
}

.popup-comments-label {
    font-weight: bold;
    margin: 0;
    /* padding: 10px; */
}

#popup-comments-div {
    overflow-y: auto;
}

#popup-comments {

    cursor: text;
    margin: 5px;
    user-select: text;
    word-wrap: break-word;

}



.copy-notification {
    display: none;
    /* position: sticky; */
    background-color: #4f574a;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    position: fixed;
    height: fit-content;
    bottom: 20px;
    left: 50px;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.copy-button-div {
    float: right;
}



.page-link {
    display: inline-block;
    text-decoration: none;
    color: #f5f3f3;
    background-color: #77b3c5;
    margin: 0 2px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: easy, 200ms;
}

.page-link:hover {
    scale: 1.07;
    color: #f5f3f3;
    background-color: #53a5be;

}


/* stylizacja form do edycji*/
#new-entry-form {
    position: absolute;
    /* display: inline-block; */
    top: 8rem;
    left: 20rem;
    width: fit-content;
    margin: 1rem 1rem;
    background-color: #f1f0f0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #797878;

}

#new-entry-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}


.new-entry-column {
    margin: 10px;
    width: 600px;
}



.form-control {

    border: 1px solid #a1a1a1;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    /* min-height: 100px; */
    margin: 7px 0;
    background-color: white;
    box-shadow: 3px 3px 3px #ccc;
    text-overflow: ellipsis;
}

.form-control-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-control-inline .form-control {
    display: inline-block;
    /* width: fit-content;  */
}

/* Text inputs and combobox styling */

.form-control label:not(.radio-select label),
.form-control p {
    font-weight: bold;
    display: block;
    color: #283c41;
    margin: 0;
    margin-bottom: 5px;
}



.form-control input[type="text"],
.form-control .combobox,
.form-control textarea {
    /* font-family: inherit;
    letter-spacing: 0.08rem; */
    display: block;
    width: 100%;
    height: 40px;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: ease, 100ms;
}

.form-control textarea {
    height: 140px;

}

.form-control:has(textarea) {
    margin-bottom: 13px;

}

/* .form-control .text-input-description_1 {
    text-transform: uppercase;
} */

.form-control .text-input:active,
.form-control .text-input:focus,
.form-control .combobox:active,
.form-control .combobox:focus,
.form-control textarea:active,
.form-control textarea:focus {
    outline: none;
    border-color: #99a6ac;
    box-shadow: inset 0 1px 4px #5393b165, 0 0 5px 2px #5393b165;
}

#required-legend span {
    color: red;
}

/* Radio buttons styling*/

.radio-select div {
    height: fit-content;
}

.radio-select label {
    display: block;
    padding: 8px 10px;
    margin: 2px 0;
    border: 2px solid #d0e1e7;
    border-radius: 7px;
    transition: ease, 100ms;
}


.radio-select label:has(input:hover) {
    background-color: #d0e1e7;
    scale: 1.05;
    cursor: pointer;
}

.radio-select label:has(input:checked) {
    background-color: #98c9db;
    scale: 1.02;

    /* box-shadow: 2px 2px 3px #54a3c0; */
}

/* Combobox styling */

.combobox {
    cursor: pointer;
}


/* textarea styling */
textarea {
    resize: none;
    /* height: 50px; */
    overflow-y: auto;
}

input[type="file"]::file-selector-button {
    font-family: 'Roboto';
    letter-spacing: 0.08rem;
    background-color: #d0e1e7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease, 100ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #98c9db;
}

.button {
    background-color: #d0e1e7;
    /* display: block; */
    margin: 20px 10px;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease, 100ms;
    /* box-shadow: 2px 3px 4px #a8c8d3; */
}

input[type="file"] {
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: normal; */
    width: 350px
}

.button:hover {
    background-color: #98c9db;
    scale: 1.05;
}

.buttons-container {
    text-align: center;
}

.errorlist li {
    color: red;
}