#new-entry-form {
    position: absolute;
    /* display: inline-block; */
    top: 8rem;
    left: 20rem;
    width: fit-content;
    margin: 1rem 1rem;
    background-color: #f1f0f0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #797878;

}

#new-entry-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}


.new-entry-column {
    margin: 10px;
    width: 500px;
}



.form-control {

    border: 1px solid #a1a1a1;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    min-height: 100px;
    margin: 7px 0;
    background-color: white;
    box-shadow: 3px 3px 3px #ccc;
    text-overflow: ellipsis;
}

.form-control-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-control-inline .form-control {
    display: inline-block;
    /* width: fit-content;  */
}

/* Text inputs and combobox styling */

.form-control label:not(.radio-select label) {
    font-weight: bold;
    display: block;
    color: #283c41;
    margin-bottom: 5px;
}

label:has(+ input[required])::after,
label:has(+ select[required])::after,
label:has(+ .radio-select)::after {
    content: " *";
    color: red;
}

.form-control input[type="text"],
.form-control .combobox,
.form-control textarea {
    /* font-family: inherit;
    letter-spacing: 0.08rem; */
    display: block;
    width: 100%;
    height: 40px;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: ease, 100ms;
}

.form-control textarea {
    height: 203px;

}

.form-control:has(textarea) {
    margin-bottom: 13px;

}

/* .form-control .text-input-description_1 {
    text-transform: uppercase;
} */

.form-control .text-input:active,
.form-control .text-input:focus,
.form-control .combobox:active,
.form-control .combobox:focus,
.form-control textarea:active,
.form-control textarea:focus {
    outline: none;
    border-color: #99a6ac;
    box-shadow: inset 0 1px 4px #5393b165, 0 0 5px 2px #5393b165;
}

#required-legend span {
    color: red;
}

/* Radio buttons styling*/

.radio-select div {
    height: fit-content;
}

.radio-select label {
    display: block;
    padding: 8px 10px;
    margin: 2px 0;
    border: 2px solid #d0e1e7;
    border-radius: 7px;
    transition: ease, 100ms;
}


.radio-select label:has(input:hover) {
    background-color: #d0e1e7;
    scale: 1.05;
    cursor: pointer;
}

.radio-select label:has(input:checked) {
    background-color: #98c9db;
    scale: 1.02;

    /* box-shadow: 2px 2px 3px #54a3c0; */
}

/* Combobox styling */

.combobox {
    cursor: pointer;
}


/* textarea styling */
textarea {
    resize: none;
    height: 12rem;
}

input[type="file"]::file-selector-button {
    font-family: 'Roboto';
    letter-spacing: 0.08rem;
    background-color: #d0e1e7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease, 100ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #98c9db;
}

#submit-button {
    background-color: #d0e1e7;
    display: block;
    margin: 20px auto;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease, 100ms;
    /* box-shadow: 2px 3px 4px #a8c8d3; */
}

input[type="file"] {
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: normal; */
    width: 350px
}

#submit-button:hover {
    background-color: #98c9db;
    scale: 1.05;
}


/* Niewidoczne zanim nie wybierze Technolog */

#new-entry-column-2 {

    display: none;
    transition: opacity, ease, 1000ms;
}

#type-of-tool-div {
    display: none;
}

#type-of-employee-div {
    width: 100%;
}

/* Widoczne po wybrani Techno */
#new-entry-column-2.techno {
    display: block;
    max-width: 500px;
}

#type-of-tool-div.techno {
    display: inline-block;
    width: fit-content;
}

#type-of-employee-div.techno {
    width: fit-content;
}


/* Wiadomosc o wyslaniu */

.success-msg {
    /* display: none; */

    /* margin: auto; */
    text-align: center;
    background: linear-gradient(to right, #16c91077, #1a921680);
    color: #000000;
    font-size: 1.1rem;
    width: 100%;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;
    /* border-radius: 25px; */
    font-weight: bold;
    box-shadow: 0 0 8px 3px #388549;
    opacity: 0.7;
    transition: ease, 500ms;
    /* position: fixed; */
}

.success-msg.opacity-0 {
    opacity: 0;
}

.success-msg.hidden {
    display: none;
}